/* Attribute Selectors -------------*/

.form-contect {
  padding: 20px 24px;
  color: red;
}

#container {
  max-width: 500px;
  margin: auto;
  flex-wrap: wrap;
}

input[type="email"] {
  background: white;
}

input::placeholder {
  display: right;
  color: #fbab00;
}

a[target="blank"] {
  color: #39add1;
  text-decoration: none;
  border-bottom: 1px dotted;
}

/* DRY Classes ------------- */

.br {
  border-radius: .5em;
}

.avatar {
  display: block;
  margin: 0 auto 2em;
}

.rounded {
  border-radius: 50%;
}

.btn {
  cursor: pointer;
  font-size: .875em;
  font-weight: 400;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

.btn:hover {
  opacity: .75;
}

.default {
  background-color: #52bab3;
}

.error {
  background-color: #ff784f;
}

@media (min-width: 768px) {
  .inln {
    width: auto;
    display: inline-block;
  }
}