* {
  box-sizing: border-box;
}

body {
  margin: auto;
  min-width: 100%;
  font-family: 'Merriweather', sans-serif;
  background-color: #fbff00;
  color: #000000;
}

h1 {
  width: 100%;
  margin: 0;
  font-weight: 700;
  color: #0000ff;
  text-align: center;
}

.intro {
  text-align: center;
}

form {
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  border: none;
}

fieldset {
  border: none;
  margin: 1.5em 0;
}

.check
input[type='radio'],
input[type='checkbox'] {
  margin: 1em 0;
}

input[type='text'],
input[type='email'],
input[type='tel'],
select {
  margin-bottom: 1.5em;
}

.container {
  width: 100%;
  margin-bottom: 2px;
  border-top: 5px solid #ff1476;
  padding: 0 0.5em;
}

legend {
  color: blue;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea,
select {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 #2beede inset;
  color: black;
  background-color: #2beede;
  border: none;
}
input::placeholder {
  text-align: right;
  color: #000000;
}

#zip {
  width: 50%;
  display: block;
}

.btn {
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  background-color: #CEA8A0;
  font-size: 2em;
  text-align: center;
  color: #787B48;
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
}

@media (min-width: 768px) {
  form {
    width: 60%;  
  }

  .info, .flex-pair {
    display: flex;
    flex-direction: row;
  }

  .info input,
  .info select {
    flex-grow: 1;
    flex-basis: 75%;
  }

  .info label {
    flex-basis: 25%;
  }

  #zip {
    max-width: 35;
  }
}