* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 768px;
  font-family: 'Merriweather', sans-serif;
  font-weight: 200;
  background-color: #964b00;
  color: #fff;
}

input {
  border: 1px solid white;
}

.contact-info {
  padding: 50px 50px 35px 50px;
}

.contact-info .flex-pair {
  display: flex;
  flex-direction: column;
}
.contact-info input {
  height: 40px;
  margin-bottom: 15px;
}
.contact-info label {
  margin-bottom: 10px;
}

#zip {
  max-width: 25%;
}

.other {
  height: 100px;
  padding-left: 280px;
  padding-right: 280px;
}

@media (min-width: 768px) {
  .contact-info .flex-pair {
    flex-direction: column;
  }
  .contact-info input {
    flex-grow: 1;
    flex-basis: 75%;
  }
  .contact-info label {
    flex-basis: 25%;
    height:50px;
    margin: auto 0;
  }
  #zip {
    max-width: 50%;
  }
}